@model Producto

<div class="d-flex justify-content-center align-items-center py-4">
    <div class="card w-50">
        <div class="card-header">
            <h5 class="card-title">Crear Producto</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Save", "Producto", FormMethod.Post))
            {
                @Html.LabelFor(l => l.Nombre, "Nombre del Producto", new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                @Html.LabelFor(l => l.Precio, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Precio, new { @class = "form-control" })
                @Html.LabelFor(l => l.CategoriaId,"Categoria", new { @class = "form-label" })
                @Html.DropDownListFor(m => m.CategoriaId, new SelectList(ViewBag.Categorias, "Id", "Nombre"), "-- Seleccione una categoría --", new { @class = "form-select" })
                @Html.ValidationSummary()
                <br />
                <button class="btn btn-primary" type="submit">Guardar</button>
            }
        </div>
    </div>
</div>

